@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form-group {
  width: 50%;
  margin-right: 30px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border border-box;
  border: none;
  border-bottom: 1px solid #cccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  background: transparent;
}
.contact {
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: blue;
}
.table td {
  padding-bottom: 10px;
}

a:visited {
  color: grey;
}
.link-list {
  list-style: none;
  padding: 0;
}
.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccc;
}

.card {
  padding: 15px 20px;
  background-color: black;
  margin-bottom: 20px;
  border-radius: 20px;
}
.bg-yellow {
  background: #fff9dc;
}
.bg-green {
  background: #e5ffe7;
}
.bg-red {
  background: #ffe5e5;
}
.list {
  padding: 0 20px;
}
.list li {
  color: #86898f;
  margin-bottom: 10px;
}
.table {
  width: 100%;
}
.container {
  max-width: 750px;
  margin-left: 20px;
  padding-top: 30px;
}
.avatar {
  width: 250px;
  border-radius: 38px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.btn {
  color: whitesmoke;
  background: #000;
  cursor: pointer;
  padding: 15px 20px;
  font-family: inherit;
}
.btn:hover {
  opacity: 0.9;
}
.info p {
  color: #86898f;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px;) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
}
.info-text h4 {
  margin-bottom: 10px;
}
